.row-posts{
    color: white;
    padding: 0 50px;
    margin-bottom: 50px;
}

.posts-row{
    display: flex;
    gap: 5px;
    overflow-x: scroll;
}

.posts-row img{
    max-height: 250px;
    transition: 500ms;
    scale: .9;
}

.posts-row img:hover{
    transform: scale(1.2);
    z-index: 9;
}

.posts-row::-webkit-scrollbar{
    display: none;
}